---
import Layout from '../layouts/Layout.astro';

import { FirstSection } from '../components/FirstSection';
import { Header } from '../components/Header';
---

<Layout>
	<main>
		<Header />
		<FirstSection />
	</main>
</Layout>
