---
import Layout from '../layouts/Layout.astro';


import { FirstSection } from '../components/FirstSection';
import { SecondSection } from '../components/SecondSection';
import { ThirdSection } from '../components/ThirdSection';
---

<Layout>
	<main>
		<FirstSection />
		<SecondSection />
		<ThirdSection />
	</main>
</Layout>
