---
import Layout from '../layouts/Layout.astro';

import { Header } from '../components/Header';

import { FirstSection } from '../components/FirstSection';
import { SecondSection } from '../components/SecondSection';
---

<Layout>
	<main>
		<Header />
		<FirstSection />
		<SecondSection />
	</main>
</Layout>
