---
import Layout from '../layouts/Layout.astro';

import { FirstSection } from '../components/FirstSection';
import { SecondSection } from '../components/SecondSection';
import { ThirdSection } from '../components/ThirdSection';

import { Footer } from '../components/Footer';
---

<Layout>
	<main>
		<FirstSection />
		<SecondSection />
		<ThirdSection />
		<Footer />
	</main>
</Layout>
