---
import '@fontsource/archivo';
import '@fontsource/nunito';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Grow your audience TODAY with a short form content strategy"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Briefly | Short Form Content Agency</title>
	</head>
	<body class="bg-sky-600 font-nunito min-h-screen">
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.lp-container {
			@apply ml-auto mr-auto max-w-6xl px-2;
		}
	}
</style>
